temp.tex
slides.aux
slides.log
slides.nav
slides.out
slides.snm
slides.toc
slides.vrb
slides.pdf
linux_eng.txt
linux_eng.txt_neo.tex
linux_eng.txt_qwertz.tex
linux.txt
linux.txt_neo.tex
linux.txt_qwertz.tex
